<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_map_path.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,209},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>battle_ui_ results_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,148},{59,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{59,93}</string>
            </dict>
            <key>battle_ui_ results_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,209},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>battle_ui_cardBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{112,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,144}}</string>
                <key>sourceSize</key>
                <string>{112,144}</string>
            </dict>
            <key>battle_ui_cardBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,214}}</string>
                <key>sourceSize</key>
                <string>{526,214}</string>
            </dict>
            <key>battle_ui_waterBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{498,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,51}}</string>
                <key>sourceSize</key>
                <string>{498,51}</string>
            </dict>
            <key>battle_ui_waterBar_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,218},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_map_ui.png</string>
            <key>size</key>
            <string>{654,271}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3f575793e8e604c763b953dea52eb0:1/1$</string>
            <key>textureFileName</key>
            <string>battle_map_ui.png</string>
        </dict>
    </dict>
</plist>
